body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    user-select: none;
    position: relative;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.bag-image {
    width: 100px;
}

.bag-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.bag-image:active {
    opacity: 0.8;
    transform: scale(1.02);
}

.upgrade {
    display: flex;
    align-items: center;
    justify-items: space-between;
    width: 330px;
    height: 60px;
    border: 4px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}

.upgrade-img {
    width: 50px
}

.mid-section h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    margin-left: 40px;
}

.mid-section p {
    margin: 0;
    margin-left: 40px;
}

.right-section {
    margin-left: 40px
}

.boxingbag-img {
    width: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.next-level-info {
    position: absolute;
    right: -104px;
    background-color: black;
    color: white;
    height: 80px;
    width: 100px;
    text-align: center;
    display: none;
}

.upgrade:hover .next-level-info {
    display: block;
}

.statistics {
    position: absolute;
    bottom: 0;
    width: 450px;
    padding: 30px;
    border: 2px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    left: 50%;
    transform: translate(-50%)
}

.texts {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
}

.strength-cost, 
.drink-cost,
.proteinbar-cost,
.preworkout-cost,
.creatine-cost,
.personaltrainer-cost,
#spc-text,
#sps-text,
#prestige-count {
    display: inline-block;
    width: 80px;
    text-align: right;
}